.env
frontend/.env
/frontend/.env
/frontend/.env.dist
./frontend/.env
./frontend/.env.dist
frontend/node_modules
./frontend/node_modules
/frontend/node_modules
./frontend/node_modules/
.development/mysql
public/build
.DS_Store
backend/public/data.json
backend/public/data_ticker.json
backend/public/config.json
backend/public/uploads/images/**