.env
app/.env
/app/.env
./app/.env
app/node_modules
./app/node_modules
/app/node_modules
./app/node_modules/
./app/redis
/app/redis/
app/redis
.development/mysql
public/build
app/.DS_Store
.DS_Store
app/public/data.json
app/public/data_ticker.json
app/public/config.json
app/public/uploads/images/**