{
    "generalReload": 60000,
    "newsNumber": 4,
    "layout_type": 0,
    "tickerSpeed": 10,
    "tickerOrientation": "toLeft",
    "tickerOffset": "run-in",
    "tickerMode": "chain",
    "tickerHeight": 80,
    "showTicker": 1,
    "slideDelay": 8000,
    "layout_type": 0,
}