

h1 {
    position: absolute;
  /*  padding-top: calc(100vh - 75% ); */
    margin-top: calc(100vh - 20%);
    max-width: calc(100% - 20%);
    font-size: 82px; 
    font-weight: 1900;
    color: #ffffff;
    background-color: #000000;
    z-index: 999999;
    margin-bottom: 0px!important;
    word-wrap: break-word;
  }
  
  @media screen and (max-width: 1921px) {
    h1 {
      font-size: 66px;
    }
  }

  img {
    width: 100%;
    opacity: 0.5;
    position: relative; 
    min-height: 100vh;
    height: 102vh;
    overflow: auto;
  }
  
  p {
    margin-top: 50px!important;
    font-size: 30px;
    display: inline;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  svg {
    width: 100%!important;
    height: 100%!important;
  }

  .fixedCol {
    min-height: 7rem;
    margin-top: -5px; 
  }
  
  .centered {
   /* width: 30%; */
    text-align: justify;
  }
  
  .lds-roller {
    display: inline-block;
   /* position: relative;*/
    width: 80px;
    height: 80px;
    position: fixed; /* or absolute */
    top: 48%;
    left: 48%;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000000;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.backgroundTicker {
  /* height: calc(100vh - 95%); */
  background-color: #000000;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.qr_code {
  top: calc(100% - 80%);
  padding-top: 15%;
  padding-left: 60px;
}

@media screen and (max-width: 1921px) {
  .qr_code {
    padding-left: 20px;
  }
}

.frameText {
  font-size: 48px;
  word-wrap: break-word;
}

@media screen and (max-width: 1921px) {
  .frameText {
    font-size: 38px;
  }
}


.ticker {
  padding: 0rem!important;
  color: #ffffff;
}

.row {
  margin-top: -19px;
}

span {
  font-size: 48px;
}